* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #f0f4f8;
  color: #2d3748;


}

.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('./../../public/cellsForJS.png');
}

/* ── NAVBAR ── */
.navbar {
  background: linear-gradient(135deg, #2bb081, #68e7be);
  color: white;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

.navbar-brand {
  font-size: 1.4rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 0.5rem;
}

.navbar-links a {
  color: rgba(255,255,255,0.85);
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  font-size: 0.95rem;
  transition: all 0.2s;
}

.navbar-links a:hover {
  background: rgba(255,255,255,0.15);
  color: white;
}

.navbar-links a.activo {
  background: rgba(255,255,255,0.25);
  color: white;
  font-weight: 600;
}

/* ── CONTEÚDO ── */
.conteudo {
  flex: 1;
  padding: 2rem;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
/* —— Botao pesquisar —— */
.pesquisa-global {
  position: relative;
  display:flex;
  align-items: center;
  gap: 8px
}

.pesquisa-global input {
  padding: 8px 16px;
  border-radius: 20px;
  border: 2px solid rgba(255,255,255,0.4);;
  outline: none;
  font-size: 14px;
  width: 220px;
  background:rgba(255,255,255,0);
  color: white;
  transition: all 0.3s;
}

.pesquisa-global input::placeholder {
  color: rgba(255,255,255,0.7);
}

.pesquisa-global input:focus {
  background: rgba(255,255,255,0.25);
  border-color: rgba(255,255,255,0.8);
  width: 260px;
}

.dropdown {
  position: absolute;
  top: 44px;
  right: 0;
  background: #e0e0e0;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0,0,0,0.15);
  width: 300px;
  z-index: 1000;
  overflow: hidden;
  border-top: #2bb081 ;
}


.dropdown-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 16px;
  color: #2d3748;
  text-decoration: none;
  font-size: 14px;
  border-bottom: 1px solid #f0f0f0;
  transition: 0.2s;
}

.dropdown-item:hover {
  background: #f0fff4;
   color: #276749;
}


.badge-investigador {
  background: #bee3f8;
  color: #2c5282;
}

.badge-projeto {
  background: #c6f6d5;
  color: #276749;
}

.badge-equipamento {
  background: #feebc8;
  color: #7b341e;
}

.dropdown-vazio {
  padding: 16px;
  color: #999;
  text-align: center;
  font-size: 14px;
}
